div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}
.select2 {
    width: 100% !important;
}
.main-header .logo, .main-sidebar {
    width: 250px;
}
.content-wrapper, .main-footer{
    margin-left: 250px;
}
.table>thead>tr>th {
    text-align: center;
    vertical-align: middle;
}
